.code
    border: 0.5px solid var(--code-border-color)
    border-radius: 6px
    position: relative
    padding-left: 2em

    ::selection
        background-color: var(--code-line-hover-color)

.line
    display: inline-block
    height: 1.5rem
    width: 100%
    border-left: 0.5px solid var(--code-line-number-color)
    padding-left: 1em
    vertical-align: top

    &::before
        content: attr(data-line-number)
        position: absolute
        color: var(--code-line-number-color)
        left: 0
        width: 2em
        text-align: center
        user-select: none
        z-index: 1

    &:hover,
    &[focused]
        background-color: var(--code-line-hover-color)

        &::before
            color: var(--code-line-number-hover-color)
