.hljs
    display: block
    overflow-x: auto
    padding: 0.5em
    background-color: var(--color-code-dark)

.hljs-built_in
    color: var(--color-code-green)

.hljs-selector-tag,
.hljs-section,
.hljs-link
    color: var(--color-code-blue)

.hljs-keyword
    color: var(--color-code-red)

    &.class_,
    &.def_
        color: var(--color-code-blue)
        font-style: italic

.hljs
    color: var(--color-code-linen)

.hljs-subst
    color: var(--color-code-purple)

.hljs-attr,
.hljs-meta-keyword
    color: var(--color-code-green)

.hljs-title
    color: var(--color-code-green)

    &.class_
        color: var(--color-code-blue)

.hljs-type
    color: var(--color-code-blue)

.hljs-string,
.hljs-meta,
.hljs-name,
.hljs-symbol,
.hljs-bullet,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable
    color: var(--color-code-yellow)

.hljs-comment,
.hljs-quote,
.hljs-deletion
    color: var(--color-code-dull)

.hljs-section,
.hljs-strong
    font-weight: bold

.hljs-doctag,
.hljs-literal,
.hljs-number
    color: var(--color-code-purple)

.hljs-emphasis
    font-style: italic

.hljs-params
    color: var(--color-code-orange)

    &.self_
        color: var(--color-code-slate)

    &.comma_
        color: var(--color-code-venus)

    &.operator_
        color: var(--color-code-red)

    .hljs-built_in
        color: var(--color-code-blue)

.hljs-operator
    color: var(--color-code-red)
