table, th, td, tr
    transition-duration: var(--style-transition-duration)
    transition-property: var(--style-transition-property)

table
    border-collapse: collapse
    font-family: var(--table-font-family)
    font-size: var(--table-font-size)
    position: relative
    width: 100%

td:not(:first-child)
    color: var(--table-cell-text-color)

th, td
    background-clip: padding-box
    overflow: hidden
    padding: 8px
    text-align: center

    &:not(:last-child)
        border-right: 4px solid var(--table-border-color)

tr
    &:not(:last-child)
        th, td
            border-bottom: 4px solid var(--table-border-color)
