.main
    display: flex
    flex-direction: column
    row-gap: 48px
    margin-bottom: var(--content-margin-bottom)
    margin-left: var(--content-margin-left)
    margin-right: var(--content-margin-right)
    margin-top: var(--content-margin-top)
    transition: margin 300ms ease

    &.sidebarHidden
        margin-left: 4px

    @media (max-width: 768px)
        margin-left: 4px
